@media (max-width: 1439px){
  .panel{
    display: none;
  }
}
@media (max-width: 1200px) {
  .container{
    max-width: 96rem;
  }
  .promo .title__fs48{
    font-size: 4rem;
  }
  .about{
    &__wrapper{
      grid-template-columns: 40rem 52rem;
      column-gap: 4rem;
    }
    &__skills{
      grid-template: repeat(2, minmax(11.5rem, auto))/repeat(2, 25rem);
      column-gap: 2rem;
      &-item{
        display: block;
        column-gap: 1.5rem;
      }
    }
  }

  .skills{
    padding-top: 15rem ;
    &__items{
      grid-template: repeat(2, 27rem)/repeat(3, 27rem);
      gap: 5rem;
    }
  }
  .portfolio{
    &__items{
      grid-template-columns: repeat(auto-fit, 28rem);
      grid-auto-rows: 28rem;
      row-gap: 5rem;
      justify-content: space-around;
      .horizontal, .vertical{
        grid-column: unset;
        grid-row: unset;
      }
    }
    &__item img{
      object-fit: fill;

    }
    &__item:nth-child(6) img{
      object-fit: contain;
      background-color: #d7d7b1;
    }
    &__item:nth-child(8) img{
      object-fit: cover;

    }
  }
  .contacts{
    &__wrapper{
      grid-template-columns: auto auto;
      justify-content: space-around;
    }
    &__photo{
      display: none;
    }
  }
}
@media (max-width: 992px) {
  .container{
    max-width: 72rem;
    padding: 1rem;
  }

  .title{
    &__fs36{
      font-size: 3rem;
    }
  }
  .about{
    padding-top: 7rem;
    &__wrapper{
      grid-template-columns: 30rem 38rem;
      grid-template-rows: minmax(24.5rem, auto);
      column-gap: 4rem;
    }
    &__photo{
      display: none;
    }
    &__skills{
      display: grid;
      grid-template-columns:  repeat(2, auto) ;
      grid-auto-rows: minmax(11.5rem, auto);
      &-item{
        grid-template-columns: 4rem 32rem;
      }
      &-text{
        margin-top: 0;
      }
    }
  }
  .education{
    &__wrapper{
      width: 70rem;
    }
    .bg-video {
      top: 80%;
    }
  }
  .skills{
    &__items{
      grid-template: repeat(3, 27rem)/repeat(2, 27rem);
      justify-content: space-around;
      row-gap: 5rem;
    }
  }

}
@media (max-width: 812px) {
  .menu{
    &__list{
      margin-top: -4rem;
    }
    &__social{
      display: none;
    }
  }

}
@media (max-width: 768px){
  .container{
    max-width: 54rem;
    margin-top: 0;
    padding-bottom: 80px;
  }

  .promo .title__fs48{
    font-size: 3rem;
    line-height: 4.2rem;
  }
  .title{
    &__fs48{
      font-size: 2.8rem ;
    }
  }
  .promo{
    &__title{
      width: 30rem;
      line-height: 4rem;
    }
  }
  .about{
    padding-top: 4rem;
    &__wrapper{
      grid-template: 22rem auto auto /1fr ;
    }
    &__photo{
      display: none;
    }
    &__skills{
      grid-template-columns: repeat(2, 26rem);
      margin-top: -4rem;
      &-item{
        grid-template-columns: 4rem 20rem;
        column-gap: 2rem;
      }
    }
  }
  .education{
    padding-top: 0;
    .container{
      padding-bottom: 0;
    }

    &__wrapper{
      width: 52rem;
      padding-top: 4rem;
    }
    &__item {
      padding-top: 0;
    }
  }
  .skills{
    &__items{
      row-gap: 1rem;
    }
  }
  .contacts{
    &__form{
      grid-template-columns: repeat(2,25rem);
    }
  }
}
@media (max-width: 576px){
  .container{
    width: 100% ;
    padding: 0 1rem;
  }
  .promo .container {
    margin-top: 0;
  }
  .promo .title__fs48{
    font-size: 2.8rem;
  }
  .promo__link{
    padding: 1.2rem 2.5rem;
    margin-bottom: 1.5rem;
    &:last-child{
      background-color:orange;
      color:  black;
      &:hover{
        background-color: black;
        color: orange;
      }
    }
  }

  .title{
    &__fs48{
      font-size: 2.6rem ;
    }
    &__fs36{
      font-size: 2.4rem;
    }
  }
  .hamburger{
    right: 2rem;
  }
  .menu{
    &__block{
      width: 25rem;
      //padding-top: 50px;
    }
  }
  .promo{
    min-height: 60vh;
    padding-top: -1px;
    &__btns{
      margin-top: 3rem;
    }
  }
  .about{
    padding-top: 0;
    &__wrapper{
      grid-template: 22rem auto auto /1fr ;
    }
    &__description{
      padding-top: 4rem;
    }
    &__skills{
      grid-template-columns: 1fr;
      margin-top: 1rem;
    }
    &__skills-item{
      margin-left: 5rem;
      grid-template-columns: 4rem 28rem;
    }
  }
  .education{
    padding-top: 0;
    &__wrapper{
      width: 90%;
      padding-top: 0;
    }
    & .bg-video {
      display: none;
    }
  }
  .skills{
    &__items{
      grid-template-columns: 27rem;
      margin-top: 4rem;
    }
  }
  .contacts{
    padding-top: 8rem;
    &__wrapper{
      padding: 0;
    }
    &__social{
      display: block;
    }
    &__link{
      margin: 1rem;
    }
    &__form{
      display: block;
      width: 100%;
    }
    &__input{
      height: 4.5rem;
      margin-bottom: 2rem;
    }
    &__textarea{
      margin-bottom: 2rem;
    }
    &__trigger{
       display: block;
      text-align: center;
    }
    &__btn{
      font-size: 1.2rem;
    }
    &__policy{
      margin-top: 2rem;
      display: block;
    }
  }
}
@media(max-width: 420px){
  .totop{
    img{
      display: none;
    }
  }
  .about__skills-item {
    margin-left: 0;
    grid-template-columns: 4rem 28rem;
  }
  .menu__social{
    bottom: 1rem;
  }
  .container{
    padding: 1rem;
  }
  .education, .skills, .portfolio{
    padding-top: 5rem;
  }

}
@media (max-height: 500px){
  .menu__social{
    display: none;
  }
}

@media (max-height: 400px) {
  .menu__block{
    padding-top: 9rem;
  }
}