.education {
  padding-top: 6rem;
  margin-top: 10rem;
  position: relative;
  & .container {
    padding-bottom: 5rem;
    color: white;
  }
  &__wrapper {
    display: block;
    width: 85rem;
    margin: 0 auto;
    padding-top: 6rem;
    ul {
      list-style-type: none;
      li {
        position: relative;
        &:after {
          content: '';
          width: 1px;
          height: calc(100% + 1.6rem);
          position: absolute;
          top: -1.6rem;
          left: 0;
          background-color: black;
        }
      }
    }
  }
  &__column-title {
    position: relative;
    padding-left: 3.5rem;
    &:before {
      content: '';
      position: absolute;
      left: -.7rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: $main-color;
    }
  }
  &__item {
    padding-top: 6rem;
    &:before{
      content: '';
      position: absolute;
      top: 4.5rem;
      width: 4.5rem;
      height: 1px;
      background-color: #000;
    }
    &-head {
      padding-left: 10rem;
      position: relative;
    }
    &-icon{
      position: absolute;
      top: .5rem;
      left: 4.5rem;
      @include before_circle;
      img{
        position: absolute;
        left: 1.7rem;
        top: 1.4rem;
      }
    }
    &-text{
      padding-left: 4.3rem;
      margin-top: 1.2rem;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
    &-location{
      font-size: 1.2rem;
      line-height: 1.8rem;
    }

  }
}
.bg-video {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .6;
  transform: translate(-50%, -50%);
  &__content {
    width: 100%;
  }
}
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  opacity: 0.85;
  padding: 0 2rem ;
}