.portfolio{
  padding-top: 12.6rem;
  &__items{
    padding-top: 6rem;
    display: grid;
    grid-template: repeat(2, 28rem)/repeat(4, 28rem);
    grid-auto-rows: 28rem;
    gap: 1rem;
    //position: relative;
    .vertical{
      grid-row: 1/3;
      grid-column: 4/5;
    }
    .horizontal{
      grid-column: 2/4;
      grid-row: 2/3;
    }
  }

}
.portfolio__item{
  perspective: 150rem;
  -moz-perspective: 150rem;
  &-card {
    transition: all .8s ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
    cursor: pointer;

  }
  &-description {
    font-size: 2rem;
  }

  &--back {
    background-color: orange;
    transform: rotateY(180deg);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    .portfolio__item-link {
      padding: 1rem;
      background-color: black;
      border-radius: .5rem;
      border: 1px solid black;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-weight: bold;
      color: white ;
      text-decoration: none;
      &:hover {
        color: orange;
        font-weight: bold;
    }
    & ul {
      display: flex;
      list-style: none;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  }
  &:hover .portfolio__item--front{
    transform: rotateY(180deg);
  }
  &:hover .portfolio__item--back{
    transform:  rotateY(0);
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  &:nth-child(7) img{
    object-fit: unset;
  }

}

