.skills{
  padding-top: 35rem;
  &__items{
    display: grid;
    grid-template: repeat(2, 270px)/repeat(4, 270px);
    grid-auto-rows: 1fr;
    gap: 1.3rem;
    margin: 6rem 1rem 0 1rem;
  }
  &__item{
    border: 1px solid #000;
    display: block;
    padding: 2rem;
    overflow: hidden;
    background-color: white;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.2);
      border: 3px solid black;
    }
    &-img img {
      float: left;
      margin-right: 1.5rem;
    }
    p {
      font-size: 1.6rem;
    }
  }
}