.title{
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 6rem;

  &__fs14{
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  &__fs16{
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  &__fs20{
    font-size: 2rem;
    line-height: 3rem;
  }
  &__fs36{
    font-size: 3.6rem;
  }
  &__fs48{
    font-size: 4.8rem;
  }
  &__section-title{
    text-align: center;
    position: relative;
    @include before_circle;
    &:before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__section-subtitle{
    text-align: center;
  }
}